nav {
  padding: 2.25rem 1.61rem;
  background: #fff7ed;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1.81rem;
  list-style: none;
}

nav ul li:first-child {
  margin-right: auto;
}

nav img {
  width: 9.03206rem;
}

nav a {
  color: #4d4d4d;
  text-align: right;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.43269rem;
  text-decoration: none;
}
